:root { 
  --black: #000000;
  --white: #ffffff;
 
  --font-size-m: 14px;
 
  --font-family-average: "Average", Helvetica;
}
.average-normal-white-14px {
  color: var(--white);
  font-family: var(--font-family-average);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
